body {
  font-family: "Raleway", sans-serif;
}
/* primer comit*/
.misdatos {
  color: antiquewhite;
  font-size: 35px;
}
/*segundo comit*/
.tipoletra {
font-size: 20px;
background-color: rgb(46, 117, 117);
color: rgb(49, 51, 50);
}
/*cuarto comit*/
.precio {
  color: rgb(112, 10, 10);
  font-size: 25px;
}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
